__pycache__/
*.py[cod]
*.pyc
.Python
venv/
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
nohup.out
pip-log.txt
pip-delete-this-directory.txt
cover/
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
.ropeproject
*.pot
*.err
*.out
docs/_build/
.idea/
*.ipr
*.iws
*.iml
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
.DS_Store
.AppleDouble
.LSOverride
.nohup.out
test/data/temp_results/
testworkflow/
testworkflow*
\#*
*.xvg.*
mdout.mdp
traj_comp.xtc
.ipynb_checkpoints
biobb_amber/notebooks/
*.bk
.vscode# Genbadge reports
reports/
flake8-badge.svg
.pytest_cache/
.pytest_cache
*.log
!ref_*.log
.idea
.vscode
.mypy_cache/
